<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Exercise2.Properties.Settings.ProdiTIConnectionString"
            connectionString="Data Source=INBOOK_X1\MYOGAPRSTYAE;Initial Catalog=ProdiTI;User ID=Yoga1;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="Exercise2.Properties.Settings.ProdiTIConnectionString1"
            connectionString="Data Source=INBOOK_X1\MYOGAPRSTYAE;Initial Catalog=ProdiTI;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>